@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

[data-theme="forest"] {
  .my-btn {
    background-color: #ffede8;
    border-color: #3e4b40;
  }
  .my-btn:hover {
    background-color: #f9fcaa;
    border-color: #5bbb7b;
  }
}

html {
  background-color: #ffede8;
  color: black;
}

.backgroud-clip {
  background-color: #3e4b40;
  position: relative;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

input[type="range"] {
  direction: rtl;
  color: #5bbb7b45;
}
