@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --color-sadykBg: #ffede8;
  --color-primaryBg: #3e4b40;
  --color-secondarBg: #f9fcaa;
  --color-thirdBg: #5bbb7b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}

html {
  background-color: #ffede8;
  color: black;
}

.backgroud-clip {
  background-color: #3e4b40;
  position: relative;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

input[type="range"] {
  direction: rtl;
  color: #5bbb7b45;
}
