@import "tailwindcss";

body {
  background-color: #ffede8;
  position: relative !important;
}
.backgroud-clip {
  background-color: #3e4b40;
  position: relative;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

input[type="range"] {
  direction: rtl;
  color: #5bbb7b45;
}
